<h3 class="text-center mb-5 fw-bold">Directorio de contactos internos</h3>

<div *ngFor="let coordination of coordinations"
     class="card h-100 mb-5 shadow shadow-lg p-2">
    <div class="card-body">
      <h5 class="card-title text-center fw-bold fs-3 mb-4 text-info">{{coordination.name}}</h5>
      <div class="row row-cols-1 row-cols-md-4 g-5">
        <!-- Tarjeta de contacto -->
        <div *ngFor="let member of coordination.members"
             class="col">
            <div class="card shadow grow">
                <div class="d-flex justify-content-center mt-3">
                    <img src="./../../../../../assets/user-img.png" class="card-img-top rounded-circle img-150" alt="Imagen de usuario">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Nombre apellido</h5>
                    <p  class="card-text text-center"><span><i class="bi bi-telephone"></i></span> 461-xx-xx-xxx</p>
                    <p  class="card-text text-center"><span><i class="bi bi-envelope-at"></i></span> correo@correo.com</p>
                </div>
            </div>
        </div>
        <!-- Tarjeta de contacto -->
      </div>
    </div>
</div>

<!-- Clientes -->
<h3 class="text-center mb-5 fw-bold">Directorio de contactos externo</h3>

<div class="card h-100 mb-5 shadow shadow-lg p-3 pb-5">
    <div class="card-body">
      <h5 class="card-title text-center fw-bold fs-3 mb-5 text-info">Clientes</h5>
      <div class="row row-cols-1 row-cols-md-4 g-5">
        <!-- Tarjeta de contacto -->
        <div *ngFor="let client of clients"
          class="col-md-6">
            <div class="card shadow grow">
                <div class="d-flex justify-content-center mt-3">
                    <img src="./../../../../../assets/company-logo-placeholder.jpg" class="card-img-top img-h-150" alt="Imagen de usuario">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{client.name}}</h5>
                    <p  class="card-text text-center"><span><i class="bi bi-building"></i></span> Calle #, Colonia, CP, Ciudad, Estado</p>
                    <p  class="card-text text-center"><span><i class="bi bi-geo-alt"></i></span> lat: #######, lng: #######</p>
                    <p  class="card-text text-center"><span><i class="bi bi-globe"></i></span> www.sitio.com</p>

                    <hr>
                    <h5 class="card-title text-center">Representante legal</h5>
                    <p  class="card-text text-center"><span><i class="bi bi-file-earmark-person"></i></span> Nombre apellido</p>
                    <p  class="card-text text-center"><span><i class="bi bi-telephone"></i></span> 461-xx-xx-xxx</p>
                    <p  class="card-text text-center"><span><i class="bi bi-envelope-at"></i></span> correo@correo.com</p>
                    <hr>
                    <h5 class="card-title text-center">Contacto</h5>
                    <p  class="card-text text-center"><span><i class="bi bi-file-earmark-person"></i></span> Nombre apellido</p>
                    <p  class="card-text text-center"><span><i class="bi bi-telephone"></i></span> 461-xx-xx-xxx</p>
                    <p  class="card-text text-center"><span><i class="bi bi-envelope-at"></i></span> correo@correo.com</p>                    
                </div>
            </div>
        </div>
        <!-- Tarjeta de contacto -->
      </div>
    </div>
  </div>