/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.img-circle {
    border-radius: 50%;
}

.img-50 {
    width: 50px;
    height: 50px;
}

.img-150 {
    width: 150px;
    height: 150px;
}

.img-h-150 {
    width: auto;
    height: 150px;
}


.img-200 {
    width: 200px;
    height: 200px;
}

.img-h-200 {
    width: auto;
    height: 200px;
}

.img-400 {
    width: 400px;
    height: 400px;
}

.img-fit {
    width:100%;
    height: 230px;
}

.img-32 {
    height: 32px;
    width: 32px;
}

.c-pointer {
    cursor: pointer;
}